<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-VP9091QPFN"
    ></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/home.css">
    <style>
      .text-rgba24 {
        color: red;
      }
      body {background-color: black;
        font: 400 15px Lato, sans-serif;
        line-height: 1.8;
        color: white;
      }
      h2 {
        font-size: 24px;
        text-transform: uppercase;
        color: #303030;
        font-weight: 600;
        margin-bottom: 30px;
      }
      h4 {
        font-size: 19px;
        line-height: 1.375em;
        color: #303030;
        font-weight: 400;
        margin-bottom: 30px;
      }
      .btn-color {
        color: red;
      }
      .btn-border {
        color: red;
      }

      .bg-grey {
        background-color: red;
      }
      .navbar {
        margin-bottom: 0;
        background-color: transparent;
        z-index: 9999;
        border: 0;
        font-size: 12px !important;
        line-height: 1.42857143 !important;
        letter-spacing: 2px;
        border-radius: 0;
        font-family: Montserrat, sans-serif;
      }
    
      .nav li a{padding: 5px;
        font-size: 15px;
        background-color: red;
      }
    </style>
   
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container" style="margin-right:-15px">
        <div class="navbar-header" >
          <a class="navbar-brand" href="/">CA</a>
        </div>
        <ul style="flex-direction: row" class="nav navbar-nav navbar-right">
          <li style="margin-right: 15px"><a href="/">HOME</a></li>

          <li style="margin-right: 15px"><a href="mailto:dahiya.sourabh444@gmail.com">CONTACT</a></li>
         
        </ul>
      </div>
    </nav>
    <section>
      <div id="main">
        <h3 style="margin-top: 30px;margin-left:20px;">
   
        <h3 style="margin-top: 30px; margin-left:20px;"><strong>Reason for not able to use website :</strong></h3>
        <ul>
          <li>
            If you are using brave browser then make sure google push service is
            active.
          </li>
          
          
          <li>Some browser including Safari do not support push-notification.</li>
          <li>Allow browser to show notification.</li>
          <li>Make sure you are connected to Internet.</li>
          <li>Incognito Mode not support service worker.</li>
          <li>Make sure the spelling of channel is correct.</li>
          <li>
            Still not able to connect , write us on
            <a href="mailto:dahiya.sourabh444@gmail.com">mail</a>.
          </li>
        </ul>
      </div>
    </section>
    
    <section id="section1">
      <div class="at-at">
        <div class="at-at-content">
          <div class="at-at-body">
            <div class="at-at-head">
              <div class="at-at-neck">
                <div class="neck-ribs">
                  <div class="neck-cable-first"></div>
                  <div class="neck-cable-second"></div>
                  <div class="neck-cable-last"></div>
                  <i></i><i></i><i></i><i></i>
                </div>
                <div class="neck-bg"></div>
              </div>
              <div class="head-bg">
                <div class="head-snout">
                  <div class="in-head-snout"></div>
                  <div class="head-snout-gun"></div>
                </div>
                <i class="head-bg-first"></i>
                <i class="head-bg-second"></i>
              </div>
              <div class="head">
                <div class="head-chin">
                  <i class="head-chin-bg-first"></i>
                  <i class="head-chin-bg-second"></i>
                  <i class="head-gun"></i>
                  <i class="fire"><i></i><i></i><i></i></i>
                </div>
              </div>
              <i class="head-left-bg"></i>
              <i class="head-top-bg"></i>
            </div>
            <div class="at-at-body-left">
              <i class="at-at-body-left-bg-1"></i>
              <i class="at-at-body-left-bg-2"></i>
              <i class="at-at-body-left-bg-3"></i>
              <i class="at-at-body-left-bg-4"></i>
              <i class="at-at-body-left-bg-5"></i>
              <div class="at-at-body-left-bg"></div>
            </div>
            <div class="at-at-body-right">
              <i class="at-at-body-right-bg-1"></i>
              <i class="at-at-body-right-bg-2"></i>
              <i class="at-at-body-right-bg-3"></i>
              <i class="at-at-body-right-bg-4"></i>
              <i class="at-at-body-right-bg-5"></i>
              <div class="at-at-body-right-bg"></div>
            </div>
            <div class="at-at-body-bottom">
              <div class="at-at-body-bottom-bg"><i></i><i></i><i></i></div>
              <div class="body-bottom-left"></div>
            </div>
            <div class="at-at-body-bg">
              <i></i><i></i><i></i><i></i>
              <div class="i"></div>
            </div>
            <div class="at-at-body-bg-first-block">
              <i class="at-at-body-bg-first-block-item-1"></i>
              <i class="at-at-body-bg-first-block-item-2"></i>
              <i class="at-at-body-bg-first-block-item-3"></i>
            </div>
            <div class="at-at-body-bg-second-block">
              <i class="at-at-body-bg-second-block-item-1"></i>
              <i class="at-at-body-bg-second-block-item-2"></i>
            </div>
            <div class="at-at-body-bg-third-block">
              <i class="at-at-body-bg-third-block-item-1"></i>
              <i class="at-at-body-bg-third-block-item-2"></i>
              <i class="at-at-body-bg-third-block-item-3"></i>
            </div>
          </div>
          <div class="dark-bg">
            <i class="dark-bg-right"></i>
          </div>
        </div>
        <div class="leg-content leg-front">
          <div class="leg-first-joint"><i></i></div>
          <div class="leg-first">
            <i class="leg-first-hr-a"></i>
            <i class="leg-first-hr-b"></i>
            <div class="in-first-leg">
              <div class="leg-second-joint"><i></i></div>
              <div class="leg-second">
                <i class="leg-second-hr"></i>
                <div class="in-second-leg">
                  <div class="foot-joint"><i class="foot-ankle"><i class="foot-ankle-bg"></i></i></div>
                  <div class="foot-ankle-bottom"></div>
                  <div class="foot-ankle-space"></div>
                  <div class="foot">
                    <div class="foot-bottom"></div>
                    <div class="foot-land"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="leg-content leg-rear">
          <div class="leg-first-joint"><i></i></div>
          <div class="leg-first">
            <i class="leg-first-hr-a"></i>
            <i class="leg-first-hr-b"></i>
            <div class="in-first-leg">
              <div class="leg-second-joint"><i></i></div>
              <div class="leg-second">
                <i class="leg-second-hr"></i>
                <div class="in-second-leg">
                  <div class="foot-joint"><i class="foot-ankle"><i class="foot-ankle-bg"></i></i></div>
                  <div class="foot-ankle-bottom"></div>
                  <div class="foot-ankle-space"></div>
                  <div class="foot">
                    <div class="foot-bottom"></div>
                    <div class="foot-land"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="leg-content leg-front-back">
          <div class="leg-first-joint"><i></i></div>
          <div class="leg-first">
            <i class="leg-first-hr-a"></i>
            <i class="leg-first-hr-b"></i>
            <div class="in-first-leg">
              <div class="leg-second-joint"><i></i></div>
              <div class="leg-second">
                <i class="leg-second-hr"></i>
                <div class="in-second-leg">
                  <div class="foot-joint"><i class="foot-ankle"><i class="foot-ankle-bg"></i></i></div>
                  <div class="foot-ankle-bottom"></div>
                  <div class="foot-ankle-space"></div>
                  <div class="foot">
                    <div class="foot-bottom"></div>
                    <div class="foot-land"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="leg-content leg-rear-back">
          <div class="leg-first-joint"><i></i></div>
          <div class="leg-first">
            <i class="leg-first-hr-a"></i>
            <i class="leg-first-hr-b"></i>
            <div class="in-first-leg">
              <div class="leg-second-joint"><i></i></div>
              <div class="leg-second">
                <i class="leg-second-hr"></i>
                <div class="in-second-leg">
                  <div class="foot-joint"><i class="foot-ankle"><i class="foot-ankle-bg"></i></i></div>
                  <div class="foot-ankle-bottom"></div>
                  <div class="foot-ankle-space"></div>
                  <div class="foot">
                    <div class="foot-bottom"></div>
                    <div class="foot-land"></div>
                    
                  </div>						
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
   
  <i class="moon"></i>
  <i class="mountain-first">
    <i class="mountain-shadow"></i>
  </i>
  <i class="mountain-second">
    <i class="mountain-shadow"></i>
    <span class="mountain-top"></span>
  </i>
  <div class="first-bg">
    <div class="first-bg-anim">
      <i class="first"></i>
      <i class="second"></i>
      <i class="third"></i>
      <i class="last"></i>
    </div>
    <div class="second-bg-anim">
      <div class="first-rock-content">
        <div class="rock-content rock-content-1">
          <i class="rock rock-big rock-1"></i>
          <i class="rock rock-big rock-2"></i>
          <i class="rock rock-big rock-3"></i>	
          <i class="rock rock-middle rock-7"></i>
          <i class="rock rock-middle rock-8"></i>
          <i class="rock rock-middle rock-9"></i>
          <i class="rock rock-middle rock-10"></i>
          <i class="rock rock-middle rock-11"></i>
          <i class="rock rock-middle rock-12"></i>
          <i class="rock rock-middle rock-13"></i>
          <i class="rock rock-middle rock-14"></i>
        </div>
        <div class="rock-content rock-content-2">
          <i class="rock rock-big rock-1"></i>
          <i class="rock rock-big rock-2"></i>
          <i class="rock rock-big rock-3"></i>	
          <i class="rock rock-middle rock-7"></i>
          <i class="rock rock-middle rock-8"></i>
          <i class="rock rock-middle rock-9"></i>
          <i class="rock rock-middle rock-10"></i>
          <i class="rock rock-middle rock-11"></i>
          <i class="rock rock-middle rock-12"></i>
          <i class="rock rock-middle rock-13"></i>
          <i class="rock rock-middle rock-14"></i>
        </div>
        <div class="rock-content rock-content-3">
          <i class="rock rock-big rock-1"></i>
          <i class="rock rock-big rock-2"></i>
          <i class="rock rock-big rock-3"></i>	
          <i class="rock rock-middle rock-7"></i>
          <i class="rock rock-middle rock-8"></i>
          <i class="rock rock-middle rock-9"></i>
          <i class="rock rock-middle rock-10"></i>
          <i class="rock rock-middle rock-11"></i>
          <i class="rock rock-middle rock-12"></i>
          <i class="rock rock-middle rock-13"></i>
          <i class="rock rock-middle rock-14"></i>
        </div>
        <div class="rock-content rock-content-4">
          <i class="rock rock-big rock-1"></i>
          <i class="rock rock-big rock-2"></i>
          <i class="rock rock-big rock-3"></i>	
          <i class="rock rock-middle rock-7"></i>
          <i class="rock rock-middle rock-8"></i>
          <i class="rock rock-middle rock-9"></i>
          <i class="rock rock-middle rock-10"></i>
          <i class="rock rock-middle rock-11"></i>
          <i class="rock rock-middle rock-12"></i>
          <i class="rock rock-middle rock-13"></i>
          <i class="rock rock-middle rock-14"></i>
        </div>
        <div class="rock-content rock-content-5">
          <i class="rock rock-big rock-1"></i>
          <i class="rock rock-big rock-2"></i>
          <i class="rock rock-big rock-3"></i>	
          <i class="rock rock-middle rock-7"></i>
          <i class="rock rock-middle rock-8"></i>
          <i class="rock rock-middle rock-9"></i>
          <i class="rock rock-middle rock-10"></i>
          <i class="rock rock-middle rock-11"></i>
          <i class="rock rock-middle rock-12"></i>
          <i class="rock rock-middle rock-13"></i>
          <i class="rock rock-middle rock-14"></i>
        </div>
        <div class="rock-content rock-content-6">
          <i class="rock rock-big rock-1"></i>
          <i class="rock rock-big rock-2"></i>
          <i class="rock rock-big rock-3"></i>	
          <i class="rock rock-middle rock-7"></i>
          <i class="rock rock-middle rock-8"></i>
          <i class="rock rock-middle rock-9"></i>
          <i class="rock rock-middle rock-10"></i>
          <i class="rock rock-middle rock-11"></i>
          <i class="rock rock-middle rock-12"></i>
          <i class="rock rock-middle rock-13"></i>
          <i class="rock rock-middle rock-14"></i>
        </div>
      </div>
      <div class="second-rock-content">
        <div class="rock-content rock-content-1">
          <i class="rock rock-big rock-1"></i>
          <i class="rock rock-big rock-2"></i>
          <i class="rock rock-big rock-3"></i>	
          <i class="rock rock-middle rock-7"></i>
          <i class="rock rock-middle rock-8"></i>
          <i class="rock rock-middle rock-9"></i>
          <i class="rock rock-middle rock-10"></i>
          <i class="rock rock-middle rock-11"></i>
          <i class="rock rock-middle rock-12"></i>
          <i class="rock rock-middle rock-13"></i>
          <i class="rock rock-middle rock-14"></i>
        </div>
        <div class="rock-content rock-content-2">
          <i class="rock rock-big rock-1"></i>
          <i class="rock rock-big rock-2"></i>
          <i class="rock rock-big rock-3"></i>	
          <i class="rock rock-middle rock-7"></i>
          <i class="rock rock-middle rock-8"></i>
          <i class="rock rock-middle rock-9"></i>
          <i class="rock rock-middle rock-10"></i>
          <i class="rock rock-middle rock-11"></i>
          <i class="rock rock-middle rock-12"></i>
          <i class="rock rock-middle rock-13"></i>
          <i class="rock rock-middle rock-14"></i>
        </div>
        <div class="rock-content rock-content-3">
          <i class="rock rock-big rock-1"></i>
          <i class="rock rock-big rock-2"></i>
          <i class="rock rock-big rock-3"></i>	
          <i class="rock rock-middle rock-7"></i>
          <i class="rock rock-middle rock-8"></i>
          <i class="rock rock-middle rock-9"></i>
          <i class="rock rock-middle rock-10"></i>
          <i class="rock rock-middle rock-11"></i>
          <i class="rock rock-middle rock-12"></i>
          <i class="rock rock-middle rock-13"></i>
          <i class="rock rock-middle rock-14"></i>
        </div>
        <div class="rock-content rock-content-4">
          <i class="rock rock-big rock-1"></i>
          <i class="rock rock-big rock-2"></i>
          <i class="rock rock-big rock-3"></i>	
          <i class="rock rock-middle rock-7"></i>
          <i class="rock rock-middle rock-8"></i>
          <i class="rock rock-middle rock-9"></i>
          <i class="rock rock-middle rock-10"></i>
          <i class="rock rock-middle rock-11"></i>
          <i class="rock rock-middle rock-12"></i>
          <i class="rock rock-middle rock-13"></i>
          <i class="rock rock-middle rock-14"></i>
        </div>
        <div class="rock-content rock-content-5">
          <i class="rock rock-big rock-1"></i>
          <i class="rock rock-big rock-2"></i>
          <i class="rock rock-big rock-3"></i>	
          <i class="rock rock-middle rock-7"></i>
          <i class="rock rock-middle rock-8"></i>
          <i class="rock rock-middle rock-9"></i>
          <i class="rock rock-middle rock-10"></i>
          <i class="rock rock-middle rock-11"></i>
          <i class="rock rock-middle rock-12"></i>
          <i class="rock rock-middle rock-13"></i>
          <i class="rock rock-middle rock-14"></i>
        </div>
        <div class="rock-content rock-content-6">
          <i class="rock rock-big rock-1"></i>
          <i class="rock rock-big rock-2"></i>
          <i class="rock rock-big rock-3"></i>	
          <i class="rock rock-middle rock-7"></i>
          <i class="rock rock-middle rock-8"></i>
          <i class="rock rock-middle rock-9"></i>
          <i class="rock rock-middle rock-10"></i>
          <i class="rock rock-middle rock-11"></i>
          <i class="rock rock-middle rock-12"></i>
          <i class="rock rock-middle rock-13"></i>
          <i class="rock rock-middle rock-14"></i>
        </div>
      </div>
    </div>
  </div>